.footer {
  justify-content: space-between;
  margin: 0;
  height: 125px;
  background-color: rgb(0, 0, 0);
}

.footer-address {
  margin-left: 40px;
  padding-bottom: 10px;
}

.footer-section {
  margin-right: 40px;
  padding-bottom: 10px;
}
