.color-white {
  color: white;
}

.color-orange {
  color: #ffa500cc;
}

.text-center {
  text-align: center;
}

.flex-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.flex-vertical {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
